<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar Archive</title>

    <link rel="stylesheet" href="/avt-view/static/style.css">
    <link rel="stylesheet" href="/avt-view/static/avt-style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>Avt Archive</h2>
            <ul>
                <li><a href="avatar.html">Avatars</a></li>
                <li><a href="clothe.html">Clothes</a></li>
                <li><a href="asset.html">Assets</a></li>
                <li><a href="hair.html">Hair</a></li>
                <li><a href="texture.html">Textures</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="avtpics"> 
            <!-- start with M -->
            <div class="avt"> <!-- Mizuki -->
                <img src="https://s2.booth.pm/96d1d589-6879-4d30-8891-a2c6b8d64186/i/5132797/68abd8ab-df67-449f-9625-b1b045a04884_base_resized.jpg" alt="2" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Mizuki --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://paryi.booth.pm/items/5132797" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- Moe -->
                <img src="https://s2.booth.pm/f420c992-4225-4ce0-b751-3a4acdceaab6/i/4667400/1641b18e-eb97-4cbe-85fd-0f04cd53b46a_base_resized.jpg" alt="1"> 
                <div class="id">
                    <div class="id1">
                        <h3>-- Moe --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://kyubihome.booth.pm/items/4667400" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
