<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar Archive</title>

    <link rel="stylesheet" href="/avt-view/static/style.css">
    <link rel="stylesheet" href="/avt-view/static/avt-style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>Avt Archive</h2>
            <ul>
                <li><a href="avatar.html">Avatars</a></li>
                <li><a href="clothe.html">Clothes</a></li>
                <li><a href="asset.html">Assets</a></li>
                <li><a href="hair.html">Hair</a></li>
                <li><a href="texture.html">Textures</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="avtpics"> 
            <!-- start with C -->
            <div class="avt"> <!-- Cian -->
                <img src="https://s2.booth.pm/7d1d1238-0c5a-4d1b-a4d4-fcbc42bebca8/i/5482062/94eb5ee6-cd9a-4832-a2a5-9c6b93d4f891_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Cian --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://septem47.booth.pm/items/5482062" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- Chiffon -->
                <img src="https://s2.booth.pm/61a3b2d7-b4b1-4f97-9e48-ffe959b26ae9/i/5354471/f6146541-8a1d-448f-97c3-c894b48bc2df_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Chiffon --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://komado.booth.pm/items/5354471" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <!-- start with L -->
            <div class="avt"> <!-- Lasyusha -->
                <img src="https://booth.pximg.net/de9ac79a-d2ba-4cc5-a4c4-002da7a40795/i/4825073/528630a4-6856-4324-a3b7-4bad492169fd_base_resized.jpg" alt="1" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Lasyusha --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://keenooshop.booth.pm/items/4825073" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>          
            <div class="avt"> <!-- Lime -->
                <img src="https://booth.pximg.net/61a3b2d7-b4b1-4f97-9e48-ffe959b26ae9/i/4876459/e1a188ff-c0a1-4e9c-93fa-9dcd97934171_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Lime --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/4876459" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <!-- start with M -->
            <div class="avt"> <!-- Manuka -->
                <img src="https://booth.pximg.net/8a7426aa-ba62-4ef0-9e7d-2c8ea96e7c9b/i/5058077/a18424fe-a56e-411a-9c47-27c56909593c.png" alt="4" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Manuka --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/ja/items/5058077" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!--Mafuyu-->
                <img src="https://s2.booth.pm/1ae5d9f5-29a4-4574-ab86-a316c22db92a/i/5007531/dfdc2835-e4db-44f8-85ed-20bf607ad64e_base_resized.jpg" alt="3" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Mafuyu --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://mk22.booth.pm/items/5007531" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- Mizuki -->
                <img src="https://s2.booth.pm/96d1d589-6879-4d30-8891-a2c6b8d64186/i/5132797/68abd8ab-df67-449f-9625-b1b045a04884_base_resized.jpg" alt="2" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Mizuki --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://paryi.booth.pm/items/5132797" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- Moe -->
                <img src="https://s2.booth.pm/f420c992-4225-4ce0-b751-3a4acdceaab6/i/4667400/1641b18e-eb97-4cbe-85fd-0f04cd53b46a_base_resized.jpg" alt="1"> 
                <div class="id">
                    <div class="id1">
                        <h3>-- Moe --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://kyubihome.booth.pm/items/4667400" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <!-- start with R -->
            <div class="avt"> <!-- Riruru -->
                <img src="https://s2.booth.pm/3b5fc523-e0c1-4bed-95cc-48e1921165f7/i/5260030/8352c654-5b04-43f0-9864-6f8a701ccd56_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Riruru --</h3>
                    </div>
                    <div class="id2">
                         <a href="https://chipierupi.booth.pm/items/5260030" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
