<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar Archive</title>

    <link rel="stylesheet" href="/avt-view/static/style.css">
    <link rel="stylesheet" href="/avt-view/static/avt-style.css">

</head>
<body>
    <header>
        <div class="navbar">
            <h2>Avt Archive</h2>
            <ul>
                <li><a href="avatar.html">Avatars</a></li>
                <li><a href="clothe.html">Clothes</a></li>
                <li><a href="asset.html">Assets</a></li>
                <li><a href="hair.html">Hair</a></li>
                <li><a href="texture.html">Textures</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="avtpics">
            <div class="avt"> <!-- 28 -->
                <img src="https://booth.pximg.net/c5f07bf0-8b84-476c-8482-585249aba6c1/i/5298514/1dfe1e66-b1b1-4746-bc0b-969bf6697c7b_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>--  Punk Long-Sleeved --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/ja/items/5298514" target="_blank">V I E W</a>
                    </div>
                </div>
            </div> 
            <div class="avt"> <!-- 27 -->
                <img src="https://booth.pximg.net/b1574cea-1837-4fdb-9654-27cc43c52f3a/i/5464549/9fe3a72a-25f9-47a9-b62c-4e65a41d1c25_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Evening_Primrose_F.W --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5464549" target="_blank">V I E W</a>
                    </div>
                </div>
            </div> 
            <div class="avt"> <!-- 26 -->
                <img src="https://booth.pximg.net/cd5c9a3b-7291-4fd4-8b7a-3e43eacd2c21/i/5478672/8b6cf4ae-9033-437d-ac37-f4de1d743fce_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- GOTHIC BUNNYGIRL --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5478672" target="_blank">V I E W</a>
                    </div>
                </div>
            </div> 
            <div class="avt"> <!-- 25 -->
                <img src="https://booth.pximg.net/da7829bf-c2b3-4387-b563-a41cfc8993db/i/5506570/11cdaaa1-ce1e-4a24-b515-62c9bf8fc457_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Spring Dress --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5506570" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>    
            <div class="avt"> <!-- 24 -->
                <img src="https://s2.booth.pm/9a10ca32-2fa8-4e32-ba00-bc0a197e3c3e/i/5219706/8794fb66-85ba-4ec6-9d0e-165877a5a0a4_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Simple Wear 2 --</h3>
                        <h3>For : Inaba Kaya</h3>
                    </div>
                    <div class="id2">
                         <a href="https://yikashop.booth.pm/items/5219706" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>    
            <div class="avt"> <!-- 23 -->
                <img src="https://s2.booth.pm/190f106d-9cbd-4767-b564-c923f1726ac6/i/5484882/2c73e922-97a8-43fc-a5f6-2bba104628f2_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Lovely Funky Uniform --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://fairyforest.booth.pm/items/5484882" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>            
            <div class="avt"> <!-- 22 -->
                <img src="https://s2.booth.pm/a6ae9650-b49a-45a8-b054-2fffbda8a4f3/i/4595305/cd275ffa-602a-4615-910c-dd8c4c0f392f_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Urban Rabbit --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://smm-oo0.booth.pm/items/4595305" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 21 -->
                <img src="https://booth.pximg.net/1ed0371c-24df-42e4-9b32-f9d27bdba98f/i/5494811/657bc681-b546-4e69-bb6c-9fdf8558ef71_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Iconic Sweater --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5494811" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 20 -->
                <img src="https://s2.booth.pm/5f8f5d12-35a8-44c7-af09-5f3f6a011fba/i/5546662/69aa9c5f-9f2e-4ec7-9578-b92bded11b85_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- School Uniform --</h3>
                        <h3>For : Manuka, Chiffon, Selestia</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5546662" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 19 -->
                <img src="https://s2.booth.pm/10381146-5d7a-447b-b65f-c08de6424a27/i/5572751/5c7233a9-56b4-4dae-a86f-bda4dde639ab_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- C1 EXPANSION --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://maisondarc.booth.pm/items/5572751" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 18 -->
                <img src="https://booth.pximg.net/41681e56-add5-4e7a-a12b-489de68f5eca/i/5058233/c825adf8-765e-4537-92ff-a4ab92a132d9_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- BECKENZI --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5058233" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 17 -->
                <img src="https://booth.pximg.net/16b91b4f-c382-4c89-93e2-d59601949ef9/i/5515484/888295a5-bee9-4adc-aeee-bd68e6aa1667_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Classic oufit --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5515484" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 16 -->
                <img src="https://booth.pximg.net/817e9a9a-020c-4fac-8b21-96f80d6e25cb/i/5141327/53302dcd-fa22-4f70-b3fa-3d7db723b8b1_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Classical chic --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5141327" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 15 -->
                <img src="https://s2.booth.pm/87b70515-e32e-4a2e-bf41-317cf2c2177c/i/5485641/0cfec889-4f2c-4983-9b80-ffb359c6eb0d_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Danzai Sailor --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://extension.booth.pm/items/5485641" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 14 -->
                <img src="https://booth.pximg.net/b1574cea-1837-4fdb-9654-27cc43c52f3a/i/5499142/bf003ab1-13ae-448e-b267-eac36657aede_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Ivory_Momentum --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5499142" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 13 -->
                <img src="https://booth.pximg.net/28a467a3-2b8e-4365-b63b-2c76c3468773/i/5531908/edb61417-0f04-487e-a03b-b61ecb77b02a_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Cross Shoes Set --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5531908" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 12 -->
                <img src="https://s2.booth.pm/b1574cea-1837-4fdb-9654-27cc43c52f3a/i/5589706/1985f757-b35c-4506-a921-18c15abecd45_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Marshmallow --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://neru0606.booth.pm/items/5589706" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 11 -->
                <img src="https://s2.booth.pm/3ed604bd-ec07-42bb-bfbb-177cbe82944a/i/5526733/a7ae9429-d14d-4fdd-a5a7-5a8ddbf5b769_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- BOwwOW --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://meru0029.booth.pm/items/5526733" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 10 -->
                <img src="https://booth.pximg.net/28a467a3-2b8e-4365-b63b-2c76c3468773/i/5462260/3c43da00-d51c-4023-86a1-ad454a51c661_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Mystic Chic --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5462260" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 9 -->
                <img src="https://booth.pximg.net/1832527b-fd7e-4ad1-b31d-b883f1c6bcfb/i/5527491/e833ee9c-8c5f-42f4-ac22-5eb16f8e3d1c_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Serenity --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5527491" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 8 -->
                <img src="https://booth.pximg.net/3f709dc5-9760-40ac-be9f-324b72f51b12/i/5429412/7c7b69b1-a0ba-4698-a6e0-2e84f7aa9f19_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Simple Hoodie --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5429412" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 7 -->
                <img src="https://s2.booth.pm/574f1133-1303-4d82-a7e2-8f06d13f6c6e/i/5489521/07f5e3b4-84e7-40fc-b688-be3bbcbee3fc_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Cherish For Girls --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://fumitiki.booth.pm/items/5489521" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 6 -->
                <img src="https://s2.booth.pm/e2febaba-cfd6-4285-86fa-a25e19651f9d/i/5537028/1307c145-b4c8-4553-b3ab-452b83689352_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- ♥PISCES♥ --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://pinkpudding.booth.pm/items/5537028" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 5 -->
                <img src="https://booth.pximg.net/a5f25c74-6fe2-4350-8ae7-8a8622333c7a/i/5128589/f304f632-4d11-46d6-b152-7fee0281c4ec_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- KnitDress --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5128589" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 4 -->
                <img src="https://s2.booth.pm/fbdfd01b-0fde-4ea8-94f7-86adf90d78d8/i/5556467/b0e96021-0875-4517-85e7-daf3f9a5a339_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- StringDoll --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://ornamentcorpse.booth.pm/items/5556467" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 3 -->
                <img src="https://booth.pximg.net/e5120ba0-e001-45d9-97a2-9444e62c88a6/i/5556925/b842b106-2a83-4132-8003-50d0556c8e9e_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Hoodie --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/ko/items/5556925" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 2 -->
                <img src="https://s2.booth.pm/67b0db83-68ae-4219-b034-b76df0ce5f1f/i/5425114/c88d39c3-f33a-471e-bfff-e92e061f7c7d_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Manuka_punk --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://minamotosyun.booth.pm/items/5425114" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 1 -->
                <img src="https://s2.booth.pm/d604f05d-aeb5-4cd2-be0c-392a0f6f6d33/i/5505102/baaccfc9-7fc9-47c1-b670-702f5f2961ce_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- SHIFT --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://solstice.booth.pm/items/5505102" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
