<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar Archive</title>

    <link rel="stylesheet" href="/avt-view/static/style.css">
    <link rel="stylesheet" href="/avt-view/static/avt-style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>Avt Archive</h2>
            <ul>
                <li><a href="avatar.html">Avatars</a></li>
                <li><a href="clothe.html">Clothes</a></li>
                <li><a href="asset.html">Assets</a></li>
                <li><a href="hair.html">Hair</a></li>
                <li><a href="texture.html">Textures</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="avtpics">
            <div class="avt"> <!-- 4 -->
                <img src="https://s2.booth.pm/fbdfd01b-0fde-4ea8-94f7-86adf90d78d8/i/5556467/b0e96021-0875-4517-85e7-daf3f9a5a339_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- StringDoll --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://ornamentcorpse.booth.pm/items/5556467" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 3 -->
                <img src="https://booth.pximg.net/e5120ba0-e001-45d9-97a2-9444e62c88a6/i/5556925/b842b106-2a83-4132-8003-50d0556c8e9e_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Hoodie --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/ko/items/5556925" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 2 -->
                <img src="https://s2.booth.pm/67b0db83-68ae-4219-b034-b76df0ce5f1f/i/5425114/c88d39c3-f33a-471e-bfff-e92e061f7c7d_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Manuka_punk --</h3>
                        <h3>For : Manuka</h3>
                    </div>
                    <div class="id2">
                         <a href="https://minamotosyun.booth.pm/items/5425114" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 1 -->
                <img src="https://s2.booth.pm/d604f05d-aeb5-4cd2-be0c-392a0f6f6d33/i/5505102/baaccfc9-7fc9-47c1-b670-702f5f2961ce_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- SHIFT --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://solstice.booth.pm/items/5505102" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
