<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar Archive</title>

    <link rel="stylesheet" href="/avt-view/static/style.css">
    <link rel="stylesheet" href="/avt-view/static/avt-style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>Avt Archive</h2>
            <ul>
                <li><a href="avatar.html">Avatars</a></li>
                <li><a href="clothe.html">Clothes</a></li>
                <li><a href="asset.html">Assets</a></li>
                <li><a href="hair.html">Hair</a></li>
                <li><a href="texture.html">Textures</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="avtpics">
            <div class="avt"> <!-- 4 -->
                <img src="https://booth.pximg.net/a5df68b2-f3ac-40b8-8d79-af96a90030da/i/4385592/696e9f62-5512-4f75-a51e-31fb7e700dce_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Winter Muff Girl --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/4385592" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 3 -->
                <img src="https://booth.pximg.net/b8ab9495-6923-449f-9757-0950a5895528/i/5537865/b1ea5161-0f6e-46ad-8fd2-64534e1e68ad_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- P♡P.Hair 02 --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/ja/items/5537865" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 2 -->
                <img src="https://booth.pximg.net/b927d879-0726-4a0d-b9c1-0ceddde6c358/i/5558766/8bb7345f-b26a-4621-885a-e4ebb0bcd2e6_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Chu Twintail --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5558766" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 1 -->
                <img src="https://s2.booth.pm/96d1d589-6879-4d30-8891-a2c6b8d64186/i/5559867/1c6d4cbc-5192-4942-87b3-31c76a0630cf_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Mellow Ribbon Hair --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://paryi.booth.pm/items/5559867" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
