<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Avatar Archive</title>

    <link rel="stylesheet" href="/avt-view/static/style.css">
    <link rel="stylesheet" href="/avt-view/static/avt-style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>Avt Archive</h2>
            <ul>
                <li><a href="avatar.html">Avatars</a></li>
                <li><a href="clothe.html">Clothes</a></li>
                <li><a href="asset.html">Assets</a></li>
                <li><a href="hair.html">Hair</a></li>
                <li><a href="texture.html">Textures</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="avtpics">
            <div class="avt"> <!-- 10 -->
                <img src="https://booth.pximg.net/c/620x620/4e04a5b6-2b0f-4eb3-87b6-6d8b6b8e315b/i/4903466/233fc731-4823-42e2-a467-54cae0b0324f_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Soft Long Hair --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/4903466" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 9 -->
                <img src="https://s2.booth.pm/5b6f1a07-833e-4d67-818f-e32612e474ca/i/4536264/fb5145db-91f1-4402-a26d-04d0acb84b96_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Twintail Pony Hair --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://li-ne.booth.pm/items/4536264" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 8 -->
                <img src="https://booth.pximg.net/b8ab9495-6923-449f-9757-0950a5895528/i/5418355/b000cdf9-499d-4d4f-8161-5cfec55e078e_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- P♡P.Hair 01 --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5418355" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 7 -->
                <img src="https://booth.pximg.net/c/620x620/343455c8-13fa-4871-aa62-61ca786c23f1/i/5063714/a05e79ca-183e-4c7c-9c2f-25d8b6c70d55_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- ANKA Nya! --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5063714" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 6 -->
                <img src="https://s2.booth.pm/343455c8-13fa-4871-aa62-61ca786c23f1/i/5398728/558ec971-083f-4d1e-ac3e-3954f654ea86_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Aurora Hair --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://angka.booth.pm/items/5398728" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 5 -->
                <img src="https://s2.booth.pm/343455c8-13fa-4871-aa62-61ca786c23f1/i/5503446/40ef16ea-366b-4585-a722-10d740ae2411_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Cat Twintail --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://angka.booth.pm/items/5503446" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 4 -->
                <img src="https://booth.pximg.net/a5df68b2-f3ac-40b8-8d79-af96a90030da/i/4385592/696e9f62-5512-4f75-a51e-31fb7e700dce_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Winter Muff Girl --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/4385592" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 3 -->
                <img src="https://booth.pximg.net/b8ab9495-6923-449f-9757-0950a5895528/i/5537865/b1ea5161-0f6e-46ad-8fd2-64534e1e68ad_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- P♡P.Hair 02 --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/ja/items/5537865" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 2 -->
                <img src="https://booth.pximg.net/b927d879-0726-4a0d-b9c1-0ceddde6c358/i/5558766/8bb7345f-b26a-4621-885a-e4ebb0bcd2e6_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Chu Twintail --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://booth.pm/en/items/5558766" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
            <div class="avt"> <!-- 1 -->
                <img src="https://s2.booth.pm/96d1d589-6879-4d30-8891-a2c6b8d64186/i/5559867/1c6d4cbc-5192-4942-87b3-31c76a0630cf_base_resized.jpg" alt="" >
                <div class="id">
                    <div class="id1">
                        <h3>-- Mellow Ribbon Hair --</h3>
                        <h3>For : Fullset</h3>
                    </div>
                    <div class="id2">
                         <a href="https://paryi.booth.pm/items/5559867" target="_blank">V I E W</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
